html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(229, 229, 229, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1);
}
p {
  font-size: 18px;
}
main {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 60px;
}
h1 img{
  height: 44px;
}
h2{
  font-size: 40px;
  font-weight: 100;
}
.vendor {
  margin: 20px;
  font-weight: 100;
  font-size: 21px;
  color: white;
  text-decoration: none;
  padding: 20px 20px 20px 5px;
  border-radius: 15px;
}
.vendor:hover{
  box-shadow: 1px 1px 5px black;
}
.chrome {
  background: rgb(79, 133, 187);
  background: -moz-linear-gradient(left, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(79, 133, 187, 1)), color-stop(100%, rgba(79, 133, 187, 1)));
  background: -webkit-linear-gradient(left, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
  background: -o-linear-gradient(left, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
  background: -ms-linear-gradient(left, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
  background: linear-gradient(to right, rgba(79, 133, 187, 1) 0%, rgba(79, 133, 187, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4f85bb', endColorstr='#4f85bb', GradientType=1);
}
.firefox {
  background: rgb(255, 168, 76);
  background: -moz-linear-gradient(top, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 168, 76, 1)), color-stop(100%, rgba(255, 123, 13, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
}
.safari {
  background: rgb(96, 108, 136);
  background: -moz-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(96, 108, 136, 1)), color-stop(100%, rgba(63, 76, 107, 1)));
  background: -webkit-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  background: -o-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  background: -ms-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  background: linear-gradient(to bottom, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0);

  /*background: rgb(74,74,74); [> Old browsers <]*/
  /*background: -moz-linear-gradient(top,  rgba(74,74,74,1) 0%, rgba(43,43,43,1) 100%); [> FF3.6+ <]*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,74,74,1)), color-stop(100%,rgba(43,43,43,1))); [> Chrome,Safari4+ <]*/
  /*background: -webkit-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(43,43,43,1) 100%); [> Chrome10+,Safari5.1+ <]*/
  /*background: -o-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(43,43,43,1) 100%); [> Opera 11.10+ <]*/
  /*background: -ms-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(43,43,43,1) 100%); [> IE10+ <]*/
  /*background: linear-gradient(to bottom,  rgba(74,74,74,1) 0%,rgba(43,43,43,1) 100%); [> W3C <]*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2b2b2b',GradientType=0 ); [> IE6-9 <]*/
}
.bookmarklet {
  background: rgb(169, 219, 128);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 219, 128, 1)), color-stop(100%, rgba(150, 197, 111, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a9db80', endColorstr='#96c56f', GradientType=0);
  /* IE6-9 */
}
.vendor img {
  height: 85px;
  padding-bottom: 5px;
  vertical-align: middle;
}
.vendor.small {
  padding: 10px 10px 10px 5px;
  font-size: 19px;
  border-radius: 5px;
}
.vendor.small img {
  height: 55px;
}

footer{
  margin-top: 75px;
  width: 100%;
}
