<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.johann-hofmann.emoji</string>
       <key>Developer Identifier</key>
       <string>VQE5S3G4ED</string>
       <key>CFBundleVersion</key>
       <string>0.5.2</string>
       <key>CFBundleShortVersionString</key>
       <string>0.5.2</string>
       <key>URL</key>
       <string>http://spaeti.pavo.uberspace.de/emoji.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
