body {
  padding: 0;
  margin: 0;
  min-width: 500px;
  height: 370px;
  overflow: hidden;
  font-family: sans-serif;
  background: rgba(238, 238, 238, 1);
}

#clear-history-button {
  margin: 5px;
}
#recent{
  background-size: cover;
  background-position: 50%;
}
#detail {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  box-shadow: 0px 5px 10px black;
  text-align: center;
}
#detail-logo {
  background-image: url(../img/sprite.png);
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  background-size: 690px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  height: 22px;
  width: 22px;
  margin: 8px;
}
#copy-message {
  position: absolute;
  top: -35px;
  left: 50%;
  display: inline-table;
  transform: translateX(-50%);
  font-size: 11px;
  line-height: 12px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
  visibility: hidden;
}
#copy-message.show {
  visibility: visible;
}
input {
  border-radius: 3px;
  padding: 6px;
  border: none;
  box-shadow: inset 0px 0px 2px #999;
  font-size: 13px;
  outline-width: thin;
  outline-offset: -3px;
}
#search-wrapper {
  display: inline-block;
}
#search {
  vertical-align: top;
  margin-left: 5px;
  margin-top: 3px;
  border-radius: 15px;
  padding-left: 10px;
  outline: none;
  max-width: 150px;
}
#detail input {
  vertical-align: middle;
}
#detail-input {
  width: 125px;
}
#unicode-input {
  width: 35px;
  margin-left: 3px;
  text-align: center;
  font-size: 14px;
}
h1 {
  text-align: center;
  font-weight: 100;
  margin: 15px 0 10px;
  font-size: 30px;
  padding-left: 10px;
}
h1 img {
  margin: 0 5px;
  height: 25px;
}
h2 {
  text-align: center;
  font-weight: 400;
  margin: 20px 0;
  font-size: 22px;
  color: #555;
}
h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 19px;
}
p,
li {
  font-size: 14px;
  margin: 14px 0;
  font-weight: 200;
}
p.center {
  text-align: center;
}
ul {
  padding-left: 15px;
}
hr{
  height: 1px;
  border: none;
  background-image: linear-gradient(to right, rgba(127,127,127,0.07) 0%,rgba(102,102,102,0.65) 20%,rgba(8,8,8,0) 94%,rgba(0,0,0,0) 100%);
}
.about-text-img {
  height: 18px;
  vertical-align: text-bottom;
}
.detail-button {
  font-size: 20px;
  color: grey;
  background: none;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px 8px;
  outline: none;
}
.detail-button:hover {
  box-shadow: 0px 0px 1px grey;
  color: #444;
}
.detail-button.selected{
  background: gainsboro;
  box-shadow: 0px 0px 1px grey;
  color: #444;
}
#insert-button{
  margin-left: 5px;
}
#about-button, #settings-button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.update, .update:hover {
  color: cornflowerblue;
}
#about-container {
  font-weight: 100;
}
#about-container a {
  text-decoration: none;
}
#about-container a:hover {
  text-decoration: underline;
}
#about-container a > i {
  font-size: 18px;
  margin: 0 5px;
}
#about-container .half {
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%;
  float: left;
}
#settings-container {
  padding: 0px 20px;
}
.setting-title{
  font-size: 15px;
  color: #666;
  font-weight: 400;
}
.setting{
  padding-left: 20px;
  color: #555;
}
.groups {
  box-shadow: 0px 0px 1px black;
  height: 290px;
  overflow: scroll;
  margin-bottom: 40px;
  padding-top: 40px;
  overflow-x: hidden;
}
.group {
  display: none;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.emoji {
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
  border: 5px solid rgba(238, 238, 238, 1);
  background-repeat: no-repeat;
  background-size: 690px;
  text-align: center;
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-image: url('../img/sprite.png');
}
.emoji:hover {
  box-shadow: 0px 0px 1px black;
}
.group-logos {
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
  padding-top: 5px;
  width: 100%;
  position: fixed;
  box-shadow: 0px -1px 1px gray inset;
}
.group-logo {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0 2px;
  outline: none;
  box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  width: 46px;
  display: inline-block;
}
.group-logo img {
  height: 20px;
  opacity: 0.8;
  /* firefox grayscale filter 100% */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  /* prevent blurry image from filter */
  -webkit-transform: translateZ(0);
}
.group-logo:hover img {
  /* firefox grayscale filter 0% */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%)
}
.group-logo.selected {
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%);
  box-shadow: 0px -1px 1px grey;
}
.group-logo.selected img {
  opacity: 1;
  /* firefox grayscale filter 0% */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%)
}
