:root {
  --main-background: white;
  --secondary-background: #f9f9fa;
  --highlight: #45a1ff;
  --color: #0c0c0db3;
}

html, body {
  width: 400px;
  height: 370px;
  color: var(--color);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: var(--main-background);
}

#clear-history-button {
  margin: 5px;
}
#recent{
  background-size: cover;
  background-position: 50%;
}
#detail {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 42px;
  background: var(--secondary-background);
  box-shadow: 0px 2px 3px black;
  text-align: center;
  padding-top: 2px;
}
#detail-logo {
  background-image: url(./sprite.png);
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  /* Sprite height / 2 */
  background-size: 897px;
  transform: scale(1.2);
  height: 23px;
  width: 23px;
  margin: 8px;
}
#copy-message {
  position: absolute;
  top: -35px;
  left: 50%;
  display: inline-table;
  transform: translateX(-50%);
  font-size: 11px;
  line-height: 12px;
  background-color: var(--highlight);
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
  visibility: hidden;
}
#copy-message.show {
  visibility: visible;
}
input {
  border-radius: 3px;
  padding: 6px;
  border: none;
  box-shadow: inset 0px 0px 1px #999;
  font-size: 13px;
  outline-width: thin;
  outline-offset: -3px;
}
#search-wrapper {
  display: inline-block;
}

#search {
  vertical-align: top;
  margin-left: 2px;
  margin-top: 1px;
  padding-left: 10px;
  outline: none;
  max-width: 100px;
}

#detail input {
  vertical-align: middle;
}
#detail-input {
  width: 125px;
}
#unicode-input {
  width: 35px;
  margin-left: 3px;
  text-align: center;
  font-size: 14px;
}
h1 {
  text-align: center;
  font-weight: 100;
  margin: 15px 0 10px;
  font-size: 30px;
  padding-left: 10px;
}
h1 img {
  margin: 0 5px;
  height: 25px;
}
h2 {
  text-align: center;
  font-weight: 400;
  margin: 15px 0;
  font-size: 22px;
}
h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 19px;
}
p,
li {
  font-size: 14px;
  margin: 14px 0;
  font-weight: 200;
}
p.center {
  text-align: center;
}
ul {
  padding-left: 15px;
}
hr{
  height: 1px;
  border: none;
  background-image: linear-gradient(to right, rgba(127,127,127,0.07) 0%,rgba(102,102,102,0.65) 20%,rgba(8,8,8,0) 94%,rgba(0,0,0,0) 100%);
}
.about-text-img {
  height: 18px;
  vertical-align: text-bottom;
}
.detail-button {
  font-size: 20px;
  color: var(--color);
  background: none;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  padding: 3px 8px;
  outline: none;
}

.detail-button:hover {
  background: rgba(12, 12, 13, .1);
}

.detail-button.selected,
.detail-button:hover:active {
  background: rgba(12, 12, 13, .2);
}

#insert-button{
  margin-left: 5px;
}

#about-button, #settings-button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.update, .update:hover {
  color: var(--highlight);
}

#about-container {
  font-weight: 100;
}

#about-container a {
  text-decoration: none;
}

#about-container a:hover {
  text-decoration: underline;
}

#about-container a > i {
  font-size: 18px;
  margin: 0 5px;
}

#about-container .half {
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%;
  float: left;
}

#settings-container {
  height: auto;
  padding: 0px 20px;
}

.setting-title{
  font-size: 15px;
  font-weight: 400;
}

.setting{
  padding-left: 20px;
}

.groups {
  box-shadow: 0px 0px 1px black;
  height: 290px;
  overflow: scroll;
  margin-bottom: 40px;
  padding-top: 38px;
  overflow-x: hidden;
}
.group {
  display: none;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.emoji {
  display: inline-block;
  border-radius: 4px;
  margin: 5px;
  padding: 0;
  border: 5px solid var(--main-background);
  background-repeat: no-repeat;
  /* Sprite height / 2 */
  background-size: 897px;
  text-align: center;
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-image: url('./sprite.png');
}

.emoji:hover {
  background-color: var(--highlight);
  border: 5px solid var(--highlight);
}

.group-logos {
  box-sizing: border-box;
  padding-top: 5px;
  width: 100%;
  position: fixed;
  background: var(--main-background);
  border-bottom: 1px solid #b1b1b3;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.group-logo {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  width: 38px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.group-logo img {
  height: 20px;
}

#search.selected,
.group-logo.selected,
.group-logo:hover {
  border-bottom: 2px solid var(--highlight);
}

